* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
font-weight: 100;
color: black;
background-color: #DEF2F1;
}

.nav-menu {
padding: 20px;
display: flex;
align-items: center;
overflow: hidden; 
background-color: #2b7a78;
}

nav{
flex: 1;
text-align: right;
}
nav ul{
display: inline-block;
list-style-type: none;
}

nav ul li{
display: inline-block;
margin-right: 20px;
}
h1{
padding: 5px;
color: white;
}

.nav-menu a 
{
float: right;
text-align: center;
display: block;
color: cornsilk;
text-align: center;
font-size: 15px;
font-weight: bold;
padding: 5px 10px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
}
a.current:link{
padding: 5px;
border: 3px solid white;
}

form{
    padding: 10px;
    border: 3px solid black;
    margin: 50px;
    background-color: white;
    float: right;
    width: 20%;
    display: block;
}

.option-lan input{
    margin-left: 30px;
}

.option-numbers input{
    margin-left: 30px;
}

form p{
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
}

form button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    margin: 10px;
}

button:hover {
    background-color: #2b7a78;
    color: white;
  }

table{
    width: 70%;
}

.table thead th{
    padding: 6px;
    background-color: #17252a;
    color: white;
}

.table-cont td{
    border-bottom: 1px solid black;
    border-left:  1px solid black;
}

.table tbody{
    overflow-y: auto;
    width: 100%;
    background-color: #feffff;
}

.table-cont{
    text-align: center;
}